import { Container } from 'react-bootstrap'; 
import { Layout } from 'layout';

import style from './{{pascalCase route}}.module.scss' 

export default function {{pascalCase route}}() { 
  return (
    <Layout session={'TESTE'}>
      <Container className='py-5'>

        <div style={style.content}>
          <p>{{pascalCase route}} page!</p>
        </div>
      </Container>

    </Layout>
    ) 
}