import style from './{{pascalCase route}}.module.scss'

const {{pascalCase route}} = () => {
  return (
    <div style={style.content}>
      <p>{{pascalCase route}} page!</p>
    </div>
  )
}

export default {{pascalCase route}}
