.title {
  font: 600 1rem/1.1 'Roboto', sans-serif;
  color: #495057;
  background: #E7F1FF;
  padding: 12px;
}

.sidebarMenu {
  background: #F8F9FA;
  height: 100vh;
  padding: 32px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  padding-left: 12px;
}

.sidebarMenu li {
  margin-bottom: 16px;
}

.sidebar li a {
  text-decoration: none;
  color: #212529;
}

.subtitle {
  font: 400 1rem/1.1 'Roboto', sans-serif;
  color: #6C757D;
  padding: 8px;
}


