$green: #20c997;
$yellow: #ffc107;
$light-blue: #0dcaf0;
$gray: #6c757d;

@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';

.slotContent {
  width: 9.1rem;
  height: 3rem;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $success;
  transition: 0.5s background ease;

  &:hover {
    color: white;
    background-color: darken($success, 10%);
  }

  &.primary {
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  &.yellow {
    background-color: $warning;
    &:hover {
      background-color: darken($warning, 10%);
    }
  }
  &.light-blue {
    background-color: $info;
    &:hover {
      background-color: darken($info, 10%);
    }
  }
  &.gray {
    background-color: $secondary;
    &:hover {
      background-color: darken($secondary, 10%);
    }
  }
}
