.wrapper {
  display: grid;
  grid-template-columns: unset;
  grid-auto-rows: 1fr;
  grid-gap: 1.5rem;

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: unset;
  }
}

.sectionWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;

  margin-bottom: 3rem;
  grid-gap: 1rem;

  @media (min-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
